@page
@model List_To_Do.Pages.CategoryModel
@{
    ViewData["Title"] = "Categories";
}<h2>ViewData["Title"]</h2>
@*<table class="table">
    <thead>
        <tr>
            <th scope="col">Is Done</th>
            <th scope="col">Title</th>
            <th scope="col">Data</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var toDo in Model.toDoList)
        {
            <tr>
                @Html.AntiForgeryToken()
                <td><input type="checkbox" id="@toDo.Id" /></td>
                <td>@toDo.Title</td>
                <td>@toDo.Date.ToShortDateString()</td>
            </tr>

        }
    </tbody>

</table>*@
